* {
    padding: 0px;
    box-sizing: border-box;     
}
/* Propiedad Media Querys */
@media only screen and (max-width: 498px) {
    body {
        background-color: #ffffff;
    }
}
@media only screen and (min-width: 499px) and (max-width: 960px) {
    body {
        background-color: #ffffff;
    }

    p {
        font-size: 40px;
    }
}
@media only screen and (min-width: 961px) {
    body {
        background-color:  #ffffff;
    }
}
@media only screen and (orientation: landscape) {
    body {
        background-color: #070606;
    }
}
@media only screen and (orientation: landscape), (min-width: 400px) {
    body {
        background-color: #070707;
    }
}
@media (max-width: 768px) {
    .carousel-container {
        height: 300px; /* Altura reducida para móviles */
    }

    .carousel-item img {
        max-height: 300px; /* Limita la altura de las imágenes en móviles */
    }
}
/* Impresoras */
@media print {
    p {
        display: none;
    }
}
/* Propiedad Texto del logo */
.logo-text {
    font-family: 'Edu VIC WA NT Beginner', sans-serif; /* Cambia la fuente */
    font-size: 10px; /* Cambia el tamaño del texto */
    font-weight: 350; /* Pone el texto en negrita */
    /* color: #060605; Cambia el color del texto (tomato) */
    text-transform: none; /* Convierte el texto a mayúsculas */
    letter-spacing: 6px;
    padding: 14px;
}
/* Propiedad Carrusel */
.carousel-item img {
    max-height: 600px; /* Altura máxima para las imágenes */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsionar */
    object-position: center; /* Centra la imagen */
}
.carousel-caption h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
.carousel-caption p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}
/* Propiedad Testimonios */
.testimonials .card {
    border-radius: 1rem;
    overflow: hidden;
}
.testimonials .card-body {
    padding: 2rem;
}
.testimonials .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.testimonials .card-text {
    font-size: 1rem;
    color: #555;
}
.testimonials img {
    border: 2px solid #e9ecef;
    padding: 5px;
    background-color: #fff;
}
/* Propiedad Footer */
form .btn-primary {
    background-color: #050505; /* Color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 0.25rem; /* Bordes redondeados del botón */
    padding: 0.75rem 1.5rem; /* Espaciado interno del botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}
form .btn-primary:hover {
    background-color: #7bc88c; /* Color de fondo en estado hover */
    color: #fff; /* Color del texto en estado hover */
}
/* Propiedades del catalogo */
.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}
.catalog .card {
    border-radius: 1rem;
    overflow: hidden;
}
.catalog .card-img-top {
    object-fit: cover;
    height: 200px; /* Ajusta la altura según sea necesario */
}
.catalog .card-body {
    padding: 1.5rem;
}
.catalog .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.catalog .card-text {
    font-size: 1rem;
    color: #555;
}
.catalog .btn-primary {
    background-color: #007bff;
    border: none;
}

.catalog .btn-primary:hover {
    background-color: #0056b3;
}
.catalog .btn-primary {
    background-color: #050505; /* Cambia este valor al color deseado para el fondo del botón */
    border: none; /* Elimina el borde si es necesario */
    color: #fff; /* Cambia el color del texto del botón */
}
.catalog .btn-primary:hover {
    background-color: #7bc88c; /* Cambia este valor al color deseado para el fondo del botón en estado hover */
    color: #fff; /* Asegúrate de que el color del texto sea legible sobre el nuevo color de fondo */
}
/* Propiedades del blog */
.blog-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.blog-titulo{
    text-align: center;
}
.blog-entrada {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.blog-contenido {
    padding: 15px;
}
.blog-contenido h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.blog-contenido .fecha {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 1em;
}
.blog-contenido p {
    line-height: 1.6;
}
.img-blog {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blog-contenido .leermas {
    display: inline-block;
    background-color: #050505;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    margin-top: 10px;
}
.blog-contenido .leermas:hover {
    background-color: #7bc88c;
}